@btn-red:  #cb4335;
@btn-green: #52be80;
@btn-blue: #2e86c1;
@input-border-color-focus: #2980B9;

.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1;
    user-select: none;

    &:focus {
        outline: 1px dotted @input-border-color-focus;
    }

    &[disabled] {
        cursor: default !important;
    }
}

.btn-filled {
    border: 0;
    color: #FFF;
    padding: .625rem 1rem;
    transition: background .2s;

    &[disabled] {
        background: #CCC !important;
    }
}

.btn-outline {
    padding: .5rem .875rem;
    border-width: .125rem;
    border-style: solid;
    transition: background .2s, color .2s;

    &[disabled] {
        border-color: #CCC !important;
        background: #FFF !important;
        color: #CCC !important;
    }
}

.btn-link {
    border: 0;
    padding: .625rem 1rem;
    background: #FFF;

    &:hover {
        text-decoration: underline;
    }

    &[disabled] {
        color: #CCC !important;
        text-decoration: none !important;
    }
}


//// Colors

// Red

.btn.btn-filled.btn-red {
    background: @btn-red;

    &:hover {
        background: lighten(@btn-red, -9%);;
    }
}

.btn.btn-outline.btn-red {

    border-color: @btn-red;
    color: @btn-red;

    background-color: #FFF;

    &:hover {
        background: @btn-red;
        border-color: @btn-red;
        color: #FFF;
    }
}

.btn.btn-link.btn-red {
    color: @btn-red;
}


// Green

.btn.btn-filled.btn-green {
    background: @btn-green;

    &:hover {
        background: lighten(@btn-green, -9%);;
    }
}

.btn.btn-outline.btn-green {

    border-color: @btn-green;
    color: @btn-green;

    background-color: #FFF;

    &:hover {
        background: @btn-green;
        border-color: @btn-green;
        color: #FFF;
    }
}

.btn.btn-link.btn-green {
    color: @btn-green;
}


// Blue

.btn.btn-filled.btn-blue {
    background: @btn-blue;

    &:hover {
        background: lighten(@btn-blue, -9%);;
    }
}

.btn.btn-outline.btn-blue {
    background-color: #FFF;
    border-color: @btn-blue;
    color: @btn-blue;

    &:hover {
        background: @btn-blue;
        border-color: @btn-blue;
        color: #FFF;
    }
}

.btn.btn-link.btn-blue {
    color: @btn-blue;
}
