@error-red: #CB4335;
@input-border-color-default: #CCC;
@input-border-color-focus: #2980B9;
@checkbox-color: #2980B9;
@radio-color: #2980B9;

.form-row + .form-row {
    margin-top: 10px;
}

// Radiobutton

.radiobtn {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    & > input {
        position: absolute;
        opacity: 0;
    }

    & > .label-text {
        vertical-align: middle;
    }

    &:before {
        height: 1.375em;
        width: 1.375em;
        margin-right: .188em;
        border: 1px solid @input-border-color-default;
        vertical-align: middle;
    }

    & > input:focus + .label-text:after {
        position: absolute;
        top: .063em;
        left: -.063em;
        height: 1.5em;
        width: 1.5em;
        border: 1px solid @input-border-color-focus;
    }
}

*.radiobtn {

    & + & {
        margin-left: .625em;
    }

    &:before,
    & > .label-text:before,
    & > input:focus + .label-text:after {
        content: "";
        display: inline-block;
        border-radius: 99px;
    }

    & > input:checked + .label-text:before {
        position: absolute;
    }

    & > input:checked + .label-text:before {
        top: .313em;
        left: .188em;
        height: 1em;
        width: 1em;
        background: @radio-color;
    }
}


// Checkbox

.checkbox {
    .radiobtn
}

*.checkbox {

    &:before,
    & > input:focus + .label-text:after {
        content: "";
        display: inline-block;
    }

    & > input:checked + .label-text:before {
        content: "✓";
        position: absolute;
        top: .063em;
        left: .125em;
        color: @checkbox-color;
        font-size: 1.5em;
        line-height: 1;
    }
}


// Textfield - includes inputs, select and textarea

.textfield {
    display: block;
    position: relative;
    background: #FFF;
    z-index: 1;

    & > .label-text {
        position: absolute;
        top: .844em;
        left: .688em;
        color: #99A3A4;
        cursor: text;
        transition: all .2s;
        z-index: -1;
    }

    &.focus > .label-text {
        color: @input-border-color-focus;
    }

    &.focus > .label-text,
    &.active > .label-text {
        top: .25em;
        font-size: .917em;
    }

    & > input,
    & > select {
        height: 3.188em;
    }

    & > input,
    & > textarea {
        padding: 1.313em .688em .25em;
    }

    & > input,
    & > select,
    & > textarea {
        display: block;
        width: 100%;
        border: 1px solid #DDD;
        background-color: transparent;
        border-radius: 0;
    }

    & > input:focus,
    & > select:focus,
    & > textarea:focus {
        outline: 0;
        border-color: @input-border-color-focus;
    }
}


// Select

.selectfield > select {
    appearance: none;
    padding: 1.313em 3.125em .25em .375em;
    text-overflow: ellipsis;
}

.selectfield:after {
    content: "﹀";
    position: absolute;
    right: 1em;
    top: .938em;
    color: #7F8C8D;
    font-size: 1.5em;
    line-height: 1;
    z-index: -1;
}


// Textarea

textarea {
    min-height: 10em;
}


// Error

.validation-error-msg {
    margin-top: .313em;
    color: @error-red;
}

.validation-error {
    & > input,
    & > select,
    & > textarea,
    & > .radiobtn:before,
    &.checkbox:before {
        border-color: @error-red;
    }
}

.remove-error-btn {
    margin-right: .313em;
}


// Hint

.hint {
	margin-top: .313em;
	color: #999;

    &:before {
        content: "";
        display: inline-block;
        margin: 0 .417em .125em 0;
        border-bottom: .583em solid #999;
        border-right: .5em solid transparent;
        border-left: .5em solid transparent;
    }
}
