.checkbox:before,
.radiobtn:before {
	margin-right: .188em;
	vertical-align: middle;
}

.checkbox,
.checkbox:before,
.checkbox>.label-text,
.radiobtn,
.radiobtn:before,
.radiobtn>.label-text {
	vertical-align: middle;
}

.form-row+.form-row {
	margin-top: 10px;
}

.radiobtn {
	display: inline-block;
	position: relative;
}

.radiobtn>input {
	position: absolute;
	opacity: 0;
}

.radiobtn:before {
	height: 1.375em;
	width: 1.375em;
	border: 1px solid #CCC;
}

.radiobtn>input:focus+.label-text:after {
	position: absolute;
	top: .063em;
	left: -.063em;
	height: 1.5em;
	width: 1.5em;
	border: 1px solid #2980B9;
}

.radiobtn+.radiobtn {
	margin-left: .625em;
}

.radiobtn:before,
.radiobtn>.label-text:before,
.radiobtn>input:focus+.label-text:after {
	content: "";
	display: inline-block;
	border-radius: 99px;
}

.radiobtn>input:checked+.label-text:before {
	position: absolute;
	top: .313em;
	left: .188em;
	height: 1em;
	width: 1em;
	background: #2980B9;
}

.checkbox {
	display: inline-block;
	position: relative;
}

.checkbox>input {
	position: absolute;
	opacity: 0;
}

.checkbox:before {
	height: 1.375em;
	width: 1.375em;
	border: 1px solid #CCC;
}

.checkbox>input:focus+.label-text:after {
	position: absolute;
	top: .063em;
	left: -.063em;
	height: 1.5em;
	width: 1.5em;
	border: 1px solid #2980B9;
}

.checkbox:before,
.checkbox>input:focus+.label-text:after {
	content: "";
	display: inline-block;
}

.checkbox>input:checked+.label-text:before {
	content: "✓";
	position: absolute;
	top: .063em;
	left: .125em;
	color: #2980B9;
	font-size: 1.5em;
	line-height: 1;
}

.textfield {
	display: block;
	position: relative;
	background: #FFF;
	z-index: 1;
}

.textfield>.label-text {
	position: absolute;
	top: .844em;
	left: .688em;
	color: #99A3A4;
	cursor: text;
	-webkit-transition: all .2s;
	transition: all .2s;
	z-index: -1;
}

.textfield.focus>.label-text {
	color: #2980B9;
}

.textfield.active>.label-text,
.textfield.focus>.label-text {
	top: .25em;
	font-size: .917em;
}

.textfield>input,
.textfield>select {
	height: 3.188em;
}

.textfield>input,
.textfield>textarea {
	padding: 1.313em .688em .25em;
}

.textfield>input,
.textfield>select,
.textfield>textarea {
	display: block;
	width: 100%;
	border: 1px solid #DDD;
	background-color: transparent;
	border-radius: 0;
}

.textfield>input:focus,
.textfield>select:focus,
.textfield>textarea:focus {
	outline: 0;
	border-color: #2980B9;
}

.selectfield>select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 1.313em 3.125em .25em .375em;
	text-overflow: ellipsis;
}

.selectfield:after {
	content: "﹀";
	position: absolute;
	right: 1em;
	top: .938em;
	color: #7F8C8D;
	font-size: 1.5em;
	line-height: 1;
	z-index: -1;
}

textarea {
	min-height: 10em;
}

.validation-error-msg {
	margin-top: .313em;
	color: #CB4335;
}

.validation-error.checkbox:before,
.validation-error>.radiobtn:before,
.validation-error>input,
.validation-error>select,
.validation-error>textarea {
	border-color: #CB4335;
}

.remove-error-btn {
	margin-right: .313em;
}

.hint {
	margin-top: .313em;
	color: #999;
}

.hint:before {
	content: "";
	display: inline-block;
	margin: 0 .417em .125em 0;
	border-bottom: .583em solid #999;
	border-right: .5em solid transparent;
	border-left: .5em solid transparent;
}

